body{
  font-family: 'Lato', sans-serif;
}

.btn-danger :hover{
  color: #000;
  background-color: #a12a2a;
}
.product-card{
  border: 1px solid #3949ab;
  padding: 15px;
  border-radius: 10px;
  box-shadow: 2px 2px 2px 2px silver;
  width: 100%;
  max-width: 550px;
  margin: 0 auto;
}
