.products {
    display: flex;
    flex-wrap: wrap;
  }
  
  .showProImg {
    width: 100%;
    min-width: 150px;
    max-width: 200px;
    margin: auto;
    position: relative;
    background-color: white;
    border: 1px solid silver;
    padding: 10px;
  }
  
  #proImg{
    margin: 5px auto;
  }
  .showPro {
    padding: 10px;
    border: 1px solid silver;
    width: 100%;
    max-width: 350px;
    margin: 1px auto;
  }