/* dark #273377
mild #3949ab
light #606dbb  */

body {
	background-color: #f4f4f4;
	font-family: 'Lato', sans-serif;
}

.container {
	background-color: #f4f4f4;
}

.card {
	padding: 0 15px;
}

nav {
	font-size: 18px;
}

#navbar a,
#span {
	color: #000;

}

.navbar-toggler {
	color: #000;

}

#navbar a:hover {
	color: #f4f4f4;

}

#navbar {
	background-color: #273377;
}

.navbar-brand img {
	width: 100%;
	max-width: 150px;
}

.search {
	margin: 0 auto;
	width: 100%;
	max-width: 350px;
}

.input-group-append {
	cursor: pointer;
}

.showSearch {
	width: 100%;
	margin: 0 auto;
	padding: 3px;
	z-index: 100;
}

.searchList {
	display: inline-block;
	white-space: nowrap;
	width: 100%;
	position: relative;
	overflow: hidden;
	text-overflow: ellipsis;
	vertical-align: center;
}

.hoverEffect {
	width: 0px;
}

.btn {
	margin: 5px auto;
	border: 1px solid #273377;
}

.btn:hover {
	background-color: #3949ab;
	color: #000;
	border: 1px solid #000;

}

.form-control:focus {
	border-color: #606dbb;
	box-shadow: 0 1px 1px #606dbb inset, 0 0 8px #606dbb;
	outline: 0 none;
}

hr {
    border-bottom: 1px solid #3949ab;
  }