.show {
  margin: 10px auto;
  padding: 10px;

}

.card-title {
  text-align: center;

}

.showPro {
  display: flex;
  margin: 5px auto;

}

#mainImg {
  width: 100%;
  max-width: 350px;
}

.imgList {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
}

.imgList img {

  width: 100%;
  max-width: 150px;
  margin: 5px auto;
  cursor: pointer;


}

@media only screen and (min-width: 200px) and (max-width: 767px)  {
  .showPro {
    flex-direction: column;
  }
}
@media only screen and (min-width: 768px) and (max-width: 1024px)  {
  .showPro {
    flex-direction: row;

  }

  }

