extends layout
block head
    title Spider Cart
block content
    .container
        if(message)
            .container.mt-5
                .alert(class="alert-success" role="alert") #{message}
        h1 Hoko
     

        
            