extends layout

block head
    title Spider Cart | Add Product
    link(rel="stylesheet", href="/style/dashboard.css")
block content
    form(action='#',id="imageUploadForm" ,method='post', enctype='multipart/form-data')
        .form-group
            label(for="image") choose images and add them 
            input.form-control(type='file', id="fileInput", placeholder="Add images of the Product" name='avatar')
        input.btn(type="submit", value="Add image")
    br

    form(action="/seller/add", id="addProduct" method="post")
        .form-group
            label(for="title") Title of the Product
            input.form-control(type="text" name="title" id="p_title" value="iphone" )
        .form-group
            label(for="price") Price of the Product
            input.form-control(type="number" name="price" id="p_price" value="100" )
        .form-group
            label(for="quantity") Quantity of the Product
            input.form-control(type="number" name="quantity" id="p_quantity" value="5" )
        .form-group
            label(for="caption") Description of the Product
            textarea.form-control(type="text", rows="3" name="cap" id="p_cap" value="steve jobs ")
        .images
        input.btn(type="submit", value="Add Product")

    p(id="showLink")
    link(rel="stylesheet", href="../style/proAdd.css")
    script(src="../scripts/proAdd.js")